<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="create">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="query">Query</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
