<div class="card">
  <div class="card-body">
    <label class="col-form-label mt-4 m-lg-2" for="inputDefault">Content</label>
    <input type="text" class="form-control" placeholder="Type here" id="inputDefault" [(ngModel)]="content">
    <button class="btn btn-primary mt-3" [disabled]="disableSave()" (click)="onSave()" type="button">Save</button>
    <button class="btn btn-secondary mt-3" (click)="goBack()" type="button">Cancel</button>
    <button class="btn btn-danger mt-3" [hidden]="!id" (click)="onDelete()" type="button"><i class="bi bi-trash3-fill"></i></button>
  </div>
</div>
