<div class="card-body">
      <input class="me-md-2" type="text" placeholder="Search" [(ngModel)]="search">
      <button class="btn btn-info my-2 my-sm-0" type="button" (click)="filter()">Search</button>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Content</th>
      <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let doc of documents">
      <td>{{doc.id}}</td>
      <td>{{doc.content}}</td>
      <td><button class="btn btn-secondary" type="button" (click)="edit(doc.id)"><i class="bi bi-pencil-square"></i></button></td>
    </tr>
    </tbody>
  </table>
</div>
